.card-consulta-container {
	
	position: relative; 
	border: 2px solid black; 
	margin-left: 10%;
	width: 80%; 
	margin-top: 50px;
}
.agendar-consulta{
	width:auto;	
	align-items: center;
	position: relative; 
	justify-content: center;
	border: 2px solid black; 
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 50px;
}