body {
	background-color: white;
}
.card_container{
	position: relative;
	border: 2px solid black;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}
.card_button{
	position: relative;
	margin-bottom: 3%;
	margin-top: 3%;
	width: 20%;
	margin-left: 10%;
}
.card_text{
	text-justify: auto;
	width: 20%;
}