body {
	background-color: #fff;
}

.cards{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.coluna {
	width: 20px;
}

.card-container {
	float: left;
	position: relative; 
	border: 2px solid black; 
	width: 300px; 
	margin-top: 50px;
	margin-bottom: 50px;
}
.card-button {
	position: relative;
	margin-bottom: 3%;
	margin-top: 3%;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.card-text {
	size: 25px;
}

.card-title {

}