.container {
	position: relative;
	padding-left:50px;
	
}

#img-banner {
	max-width: 550px;
	min-width: 200px;
	float: left;
	border: 2px solid black;
	size: relative;
}

.text-container {
	width: 35%; 
	margin-left: -500px;
	float: left;

}

.text-video {
	font-size: 30px;
	width: 35%; 
	float: left;
}

.img-container {
	max-width: 600px;
	float: right;
	margin-right: 10%;
}