{%extends "base.html"%}
{%block title%}Agendar{%endblock%}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li class="active"><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/videos">Videos</a></li>
            <!-- Entrar nao aparece-->
            {% if logado == True %}
            <li><a href="/entrar">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}
{% endblock %}

{%block conteudo%}
<link rel="stylesheet" type="text/css" href="static/styles/agendar_style.css">
<link rel="stylesheet" type="text/css" href="static/styles/calendar_style.css">
<script type="text/javascript" src="static/scripts/select_box_script.js"></script>
<h1 style= "margin-left: 5%">Agendar</h1>
<hr>

<table>
  <tr>
    <td>

<label id="img_category_label"class="field"for="img_category"data-value="">
  <span>Estado</span>
  <div id="img_category"class="psuedo_select"name="img_category">
    <span class="selected"></span>
    <ul id="img_category_options"class="options">
      <li class="option"data-value="RJ"> RJ</li>
    </ul>
  </div>
</label>
</td>
<td>

<label id="img_category_label"class="field"for="img_category"data-value="">
  <span>Cidade</span>
  <div id="img_category"class="psuedo_select"name="img_category">
    <span class="selected"></span>
    <ul id="img_category_options"class="options">
      <li class="option"data-value="Rio de Janeiros"> Rio de Janeiros</li>
    </ul>
  </div>
</label>

</td>
<td>
<label id="img_category_label"class="field"for="img_category"data-value="">
  <span>Categorias</span>
  <div id="img_category"class="psuedo_select"name="img_category">
    <span class="selected"></span>
    <ul id="img_category_options"class="options">
      <li class="option"data-value="Cardiologista"> Cardiologista</li>
      <li class="option"data-value="Oftalmologista"> Oftalmologista</li>
      <li class="option"data-value="Pediatra"> Pediatra</li>
      <li class="option"data-value="Ortopedista"> Ortopedista</li>
    </ul>
  </div>
</label>

</td>
</tr>
</table>

<div class="card-agendar-container"> 
   <table>
        <tr>
            <td style ="width: 30%">
                <div style="position: relative;"><img src="static/imagens/11.png" style="width: 80%; height: 10%;"></div> 
            </td> 
            <td>
            <div>
                <h4><b>Nome: </b>Lara Afonso</h4>
                <br>
                <h4><b>Endereço: </b>Botafogo, Rua Dona Mariana, 213</h4>
                
            </div>
            </td>
            <td style="width: 20%"></td>
            <td>
                <h4><b>Data da Consulta: </b></h4>
                <div class="month">      
                  <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                      Outubro<br>
                      <span style="font-size:18px">2020</span>
                    </li>
                  </ul>
                </div>
                
                <ul class="weekdays">
                  <li>Segunda</li>
                  <li>Terça</li>
                  <li>Quarta</li>
                  <li>Quinta</li>
                  <li>Sexta</li>
                  <li>Sabado</li>
                  <li>Domingo</li>
                </ul>
                <ul class="days">
     {% block content %}
        {% for i in range(1,32,1) %}  
          <li>{{i}}</li>
        {% endfor %}
      {% endblock %}
      </ul>
            </td>
             
        </tr>
        </table>
  </div>

  <script>
  function array_remove_index_by_value(arr, item)
  {
    for (var i = arr.length; i--;)
    {
      if (arr[i] === item) {arr.splice(i, 1);}
    }
  }
  function compare(a, b) {
    if (a === b) 
         return 0;
    return a < b ? -1 : 1;
  }
  $(".days").children().click(function() {
      var myNumber = 0
      if($(this).children().length > 0) {
          myNumber = $(this).children().text()
          $(this).html(myNumber)
        }
        else {
            myNumber = $(this).text()
            $(this).html("<span class='active'>" + myNumber + "</span>")
        }
    })

</script>

{%endblock%}