<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Med Match</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Início</a></li>
            <li><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/entrar">Entrar</a></li>
            <li><a href="/sair">Sair</a></li>
          </ul>
        </div>
      </nav>

{%block conteudo%}{%endblock%}

</body>
</html>