{% extends "base.html" %}
{% block title %}Consultas{% endblock %}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li class="active"><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/videos">Videos</a></li>
            {% if logado == True %}
            <li><a href="/entrar">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}
{% endblock %}

{% block conteudo %}
    <link rel="stylesheet" type="text/css" href="static/styles/consultas_style.css">
    <h1 style= "margin-left: 5%"> Consultas</h1>

    <hr>
    <div class="card-consulta-container"> 
    <table>
        <tr>
            <td style ="width: 30%">
                <div style="position: relative;"><img src="static/imagens/medica.jpg" style="width: 80%; height: 10%;"></div> 
            </td> 
            <td>
            <div>
                <h4><b>Nome:</b>xxxxxx</h4>
                <br>
                <h4><b>Endereço:</b>xxxxxx</h4>
                
            </div>
            </td>
            <td>
                <h4><b>Data:</b>DD-MM-YYYYs</h4>
                <br>
                <h4><b>Categoria:</b>xxxxxxxx</h4>
            </td>
        </tr>
        </table>
    </div>
    <div class="card-consulta-container"> 
    <table>
        <tr>
            <td style ="width: 30%">
                <div style="position: relative;"><img src="static/imagens/medica.jpg" style="width: 80%; height: 10%;"></div> 
            </td> 
            <td>
            <div>
                <h4><b>Nome:</b>xxxxxx</h4>
                <br>
                <h4><b>Endereço:</b>xxxxxx</h4>
                
            </div>
            </td>
            <td>
                <h4><b>Data:</b>DD-MM-YYYYs</h4>
                <br>
                <h4><b>Categoria:</b>xxxxxxxx</h4>
            </td>
        </tr>
        </table>
    </div>
    <div class="card-consulta-container"> 
    <table>
        <tr>
            <td style ="width: 30%">
                <div style="position: relative;"><img src="static/imagens/medica.jpg" style="width: 80%; height: 10%;"></div> 
            </td> 
            <td>
            <div>
                <h4><b>Nome:</b>xxxxxx</h4>
                <br>
                <h4><b>Endereço:</b>xxxxxx</h4>
                
            </div>
            </td>
            <td>
                <h4><b>Data:</b>DD-MM-YYYYs</h4>
                <br>
                <h4><b>Categoria:</b>xxxxxxxx</h4>
            </td>
        </tr>
        </table>
    </div>

    <div class="agendar-consulta"><h4 style="text-align: center;"><b>Agende uma consulta</b></div>
{% endblock %}s