{% extends "base.html" %}
{% block title %}Consultas{% endblock %}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li class="active"><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/videos">Videos</a></li>
            {% if logado == True %}
            <li><a href="/entrar">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}
{% endblock %}

{% block conteudo %}
    <h1>Consultas</h1>
    <div class="card_container"> 
        <table>
            <tr>
                <!-- <td>
                    <div style="position: relative;"><img src="static/imagens/medica.jpg" style="width: 10%; height: 10%;"></div> 
                </td> -->
                <td>
                    <div>
                        <h4><b>Nome:</b>xxxxxx</h3>
                        <h4><b>Endereço:</b>xxxxxx</h3>
                        <h4><b>Data:</b>DD-MM-YYYYs</h3>
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}