{% extends "base.html" %}
{% block title %}Consultas{% endblock %}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li class="active"><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li><a href="/videos">Videos</a></li>
            {% if logado == True %}
            <li><a href="/entrar">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}
{% endblock %}

{% block conteudo %}

<a href="/agendar"><button  class="btn btn-primary btn-block btn-lg" style="width: auto; margin-left:45%; margin-top: 30px; margin-bottom: 30px ;background-color:#A87E3E" onclick="">Agende uma Consulta</button></a>

    <link rel="stylesheet" type="text/css" href="static/styles/consultas_style.css">
    <h1 style= "margin-left: 5%"> Consultas</h1>
    <hr>
    {% block content %}
    {% set Nomes = ["Lara Afonso","Miria Bauer","Luiz Gonzaga"]%}
    {% set Estado = ["RJ","RS","TO"]%}
    {% set  Cidade = ["Rio de Janeiro","Porto Alegre","Palmas"]%}
    {% set Endereco = ["Botafogo, Rua Dona Mariana, 213","Botafogo,Rua Voluntarios da Patria,70","Botafogo,Rua Mena Barreto, 21"]%}
    {% set Data  = ["12/10/2020","14/11/2021","30/12/2020"]%}
    {% set Categoria = ["Cardiologista","Clinico Geral","Oftalmologista"]%}
    {% set Imagens = ["static/imagens/11.png","static/imagens/12.png","static/imagens/13.png"]%}
    {% for i in range(3) %}  
    <div class="card-consulta-container"> 
    <table>
        <tr>
            <td style ="width: 30%">
                <div style="position: relative;"><img src={{Imagens[i]}} style="width: 80%; height: 10%;"></div> 
            </td> 
            <td>
            <div>
                <h4><b>Nome: </b>{{Nomes[i]}}</h4>
                <br>
                <h4><b>Endereço: </b>{{Endereco[i]}}</h4>
                
            </div>
            <td>
                <h4><b>Estado: </b>{{Estado[i]}}</h4>
                <br>
                <h4><b>Cidade: </b>{{Cidade[i]}}</h4>
            </td>
            </td>
            <td>
                <h4><b>Data da Consulta: </b>{{Data[i]}}</h4>
                <br>
                <h4><b>Categoria: </b>{{Categoria[i]}}</h4>
            </td>
             
        </tr>
        </table>
    </div>
    {% endfor %}
{% endblock %}


{% endblock %}s