{%extends "base.html"%}
{%block title%}Eventos{%endblock%}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li><a href="/consultas">Consultas</a></li>
            <li class="active"><a href="/eventos">Eventos</a></li>
            <li><a href="/videos">Videos</a></li>
            {% if logado == True %}
            <li><a href="/user">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}

{% endblock %}

{% block conteudo %}
 <h1 style= "margin-left: 5%"> Eventos </h1>
    
    <hr>
<link rel="stylesheet" type="text/css" href="static/styles/calendar_style.css">
<div class="month">      
  <ul>
    <li class="prev">&#10094;</li>
    <li class="next">&#10095;</li>
    <li>
      Outubro<br>
      <span style="font-size:18px">2020</span>
    </li>
  </ul>
</div>

<ul class="weekdays">
  <li>Segunda</li>
  <li>Terça</li>
  <li>Quarta</li>
  <li>Quinta</li>
  <li>Sexta</li>
  <li>Sabado</li>
  <li>Domingo</li>
</ul>

<ul class="days">
  {% block content %}
    {% for i in range(1,32,1) %}  
      <li>{{i}}</li>
    {% endfor %}
  {% endblock %}
</ul>

<H2 id = "Event" style = "margin-left: 2%;">Evento do dia :(selecione um dia para ver os eventos)</H2>
<hr >
<div class="card-eventos-container">
  <div style="text-align: left; padding: 10px;"> 
    <h1>Sessão de Alongamento</h1>
    <p></p>
              
  <div class="card-button">
    <button  class="btn btn-primary btn-block btn-lg" style="width: auto" onclick="">Inscreva-se</button>
  </div>
  </div>
</div>

</body>

<script>
  function array_remove_index_by_value(arr, item)
  {
    for (var i = arr.length; i--;)
    {
      if (arr[i] === item) {arr.splice(i, 1);}
    }
  }
  function compare(a, b) {
    if (a === b) 
         return 0;

    return a < b ? -1 : 1;
  }
  var dias_selecionados = []
  $(".days").children().click(function() {
      var myNumber = 0
      if($(this).children().length > 0) {
          myNumber = $(this).children().text()
            $(this).html(myNumber)
            array_remove_index_by_value(dias_selecionados,parseInt(myNumber))
            $("#Event").html("Eventos do dia :"+dias_selecionados.sort(compare).join())
        }
        else {
            myNumber = $(this).text()
            $(this).html("<span class='active'>" + myNumber + "</span>")
            dias_selecionados.push(parseInt(myNumber))
            $("#Event").html("Eventos do dia :"+dias_selecionados.sort(compare).join()) 
        }
    })

</script>
{% endblock %}