{%extends "base.html"%}
{%block title%}Vídeos{%endblock%}

{% block menu %}
            <li><a href="/">Início</a></li>
            <li><a href="/consultas">Consultas</a></li>
            <li><a href="/eventos">Eventos</a></li>
            <li class="active"><a href="/videos">Videos</a></li>
            

            {% if logado == True %}
            <li><a href="/user">Perfil</a></li>
            {% endif %}
            {% if logado == False %}
            <li><a href="/entrar">Entrar</a></li>
            {% endif %}

{% endblock %}

{% block conteudo %}
	<div class="card-container">
    <img src="static/imagens/place_card.png" alt="">
    <div style="text-align: left; padding: 10px;"> 
        <h1>Consultas</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="card-button" id="botaoSubmit" onclick="">
            <button class="btn btn-primary btn-block btn-lg" id="botaoSubmit" onclick="">Ver mais</button>
        </div>
    </div>
</div>
{% endblock %}